.add-button {
  box-sizing: border-box;
  padding: 15px 0;
  margin: 0 auto;
  width: 100%;
  max-width: 282px;
  border: 2px solid var(--font-main-color);
  border-radius: 2px;
}

@media screen and (min-width: 1024px){
  .add-button {
    margin: 0;
    max-width: 150px;
    padding: 12px 0;
  }
}
